Repository google/blockly-samples, pull requests merged in 2022-09, with the labels that each got.

#1233 docs: Generator demo uses eval, not JS-Interpreter.
  examples/generator-demo/index.html
Labels: documentation

#1237 chore(deps): bump @blockly/dev-tools to 4.0.3 in `examples/custom-tooltips-demo`
  examples/custom-tooltips-demo/package-lock.json
  examples/custom-tooltips-demo/package.json
Labels: dependencies

#1298 chore: fix missing/extra requires.
  examples/pitch-field-demo/field_pitch.js
Labels: category: example

#1270 fix(blockly-react): Update generator import for blockly-react demo
  examples/blockly-react/src/generator/generator.js
Labels: category: example, component: demos
